<b>Answers from :<b/> <a href="https://github.com/spacelover92" style="color:blue;font-size:30px;font-family:Comic Sans MS">Spacelover92(Click to visit my github)</a>

### First, create table and insert data

``` sql
-- Drop the PETSALE table in case it exists
drop table PETSALE;
-- Create the PETSALE table 
create table PETSALE (
	ID INTEGER PRIMARY KEY NOT NULL,
	ANIMAL VARCHAR(20),
	QUANTITY INTEGER,
	SALEPRICE DECIMAL(6,2),
	SALEDATE DATE
	);
-- Insert saple data into PETSALE table
insert into PETSALE values 
	(1,'Cat',9,450.09,'2018-05-29'),
	(2,'Dog',3,666.66,'2018-06-01'),
	(3,'Dog',1,100.00,'2018-06-04'),
	(4,'Parrot',2,50.00,'2018-06-04'),
	(5,'Dog',1,75.75,'2018-06-10'),
	(6,'Hamster',6,60.60,'2018-06-11'),
	(7,'Cat',1,44.44,'2018-06-11'),
	(8,'Goldfish',24,48.48,'2018-06-14'),
	(9,'Dog',2,222.22,'2018-06-15')
	
;
```

#### Examine the table
``` sql
SELECT * FROM PETSALE;
```

ID|ANIMAL|QUANTITY|SALEPRICE|SALEDATE
 --- | --- | --- | --- | ---
1|Cat|9|450.09|2018-05-29
2|Dog|3|666.66|2018-06-01
3|Dog|1|100.00|2018-06-04
4|Parrot|2|50.00|2018-06-04
5|Dog|1|75.75|2018-06-10
6|Hamster|6|60.60|2018-06-11
7|Cat|1|44.44|2018-06-11
8|Goldfish|24|48.48|2018-06-14
9|Dog|2|222.22|2018-06-15

### Now we'll trying to practice some SELECT statements and see results

``` sql
select SUM(SALEPRICE) from PETSALE;
```

1|
---|
1718.24|

``` sql
select SUM(SALEPRICE) AS SUM_OF_SALEPRICE from PETSALE;
```

SUM_OF_SALEPRICE|
---|
1718.24|

``` sql
select MAX(QUANTITY) from PETSALE;
```

1|
---|
24|

``` sql
select AVG(SALEPRICE) from PETSALE;
```

1|
---|
190.915555555555555555555555555|

``` sql
select AVG( SALEPRICE / QUANTITY ) from PETSALE where ANIMAL = 'Dog';
```

1|
---|
127.270000000000000000000000000|

``` sql
select ROUND(SALEPRICE) from PETSALE;
```


1|
---|
450.00|
667.00|
100.00|
50.00|
76.00|
61.00|
44.00|
48.00|
222.00|

``` sql
select LENGTH(ANIMAL) from PETSALE;
```


1|
---|
3|
3|
3|
6|
3|
7|
3|
8|
3|

``` sql
select UCASE(ANIMAL) from PETSALE;
```

1|
---|
CAT|
DOG|
DOG|
PARROT|
DOG|
HAMSTER|
CAT|
GOLDFISH|
DOG|

``` sql
select DISTINCT(UCASE(ANIMAL)) from PETSALE;
```

1|
---|
CAT|
DOG|
GOLDFISH|
HAMSTER|
PARROT|

``` sql
select * from PETSALE where LCASE(ANIMAL) = 'cat';
```

ID|ANIMAL|QUANTITY|SALEPRICE|SALEDATE
 --- |--- |--- |--- |---  
1|Cat|9|450.09|2018-05-29
7|Cat|1|44.44|2018-06-11

``` sql
select DAY(SALEDATE) from PETSALE where ANIMAL = 'Cat';
```

1|
---|
29|
11|

``` sql
select COUNT(*) from PETSALE where MONTH(SALEDATE)='05';
```

1|
---|
1|

``` sql
select (SALEDATE + 3 DAYS) from PETSALE;
```


1|
----|
2018-06-01|
2018-06-04|
2018-06-07|
2018-06-07|
2018-06-13|
2018-06-14|
2018-06-14|
2018-06-17|
2018-06-18|

``` sql
select (CURRENT DATE - SALEDATE) from PETSALE;
```
#### Note: 20321 means 2 year & 03 month & 21 day
1|
----|
20321|
20318|
20315|
20315|
20309|
20308|
20308|
20305|
20304|

<b>Answers from :<b/> <a href="https://github.com/spacelover92" style="color:blue;font-size:30px;font-family:Comic Sans MS">Spacelover92(Click to visit my github)</a>